// main-view.scss
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d6c7c7;
}
//This class is used to make space between rows of movie cards
.cardStyle {
  margin-bottom: 10px;
}
